<nav id="navbar">
  <div class="nav-inner">
    <a href="{{ site.baseurl }}/" class="nav-logo">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Ravenna Grizzlies Logo">
      <div class="nav-logo-text">
        Ravenna Grizzlies
        <span>Dynamo Grizzly ASD</span>
      </div>
    </a>
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/#chi-siamo">Chi Siamo</a></li>
      <li><a href="{{ site.baseurl }}/#allenamenti">Allenamenti</a></li>
      <li><a href="{{ site.baseurl }}/dodgeball/">Il Dodgeball</a></li>
      <li><a href="{{ site.baseurl }}/news/">News</a></li>
      <li><a href="{{ site.baseurl }}/#faq">FAQ</a></li>
      <li><a href="{{ site.baseurl }}/#contatti" class="nav-cta">Unisciti ⚡</a></li>
    </ul>
    <button class="nav-burger" id="burger" aria-label="Menu">
      <span></span><span></span><span></span>
    </button>
  </div>
  <div class="nav-mobile" id="mobileMenu">
    <a href="{{ site.baseurl }}/#chi-siamo">Chi Siamo</a>
    <a href="{{ site.baseurl }}/#allenamenti">Allenamenti</a>
    <a href="{{ site.baseurl }}/dodgeball/">Il Dodgeball</a>
    <a href="{{ site.baseurl }}/news/">News</a>
    <a href="{{ site.baseurl }}/#faq">FAQ</a>
    <a href="{{ site.baseurl }}/#contatti">Unisciti ⚡</a>
  </div>
</nav>
